# Project 2

# Project Description

This project is an online goal list. It allows you to add, complete, and delete
your personal goals. It uses a Mongo database to store goals so you can come back to
the page and complete goals when you have accomplished them. 

# Feature List

React Front end
Backend database

# Requirements

NodeJS
ReactJS
Typescript